.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

video {
  height: 300px;
  width: 50vw;
}

.App-videos {
  display: flex;
}

.App-action-btns {
  height: 40px;
}

.actionButton {
  width: 80px;
  height: 30px;
  margin-left: 10px;
  background-color: #3b5998;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.actionButton:disabled {
  color: graytext;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
